body {
  font-family: "Times New Roman", Times, serif;
}

header {
  background-image: url(../img/la-haine.webp);
  background-size: cover;
  height: 45rem;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 30px;
}
header nav div {
  display: flex;
  width: 30%;
  justify-content: end;
  align-items: center;
}
header nav div button {
  width: 50px;
  height: 50px;
}
header nav div button img {
  width: 100%;
}
header nav ul {
  display: flex;
  position: relative;
}
header nav ul .menu {
  display: none;
}
@media screen and (max-width: 768px) {
  header nav ul .menu {
    display: inline;
    margin-right: 55px;
  }
}
header nav ul .ulMenuNone, header nav ul .searchNone {
  display: none;
}
header nav ul .searchNone {
  background-color: transparent;
}
header nav ul ::-webkit-input-placeholder {
  color: black;
}
header nav ul .ulMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  background-color: rgba(33, 37, 41, 0.6117647059);
  padding: 20px;
  left: -53px;
}
header nav ul .ulMenu li {
  margin: 15px 15px;
}
header nav ul .ulMenu li a {
  color: white;
  border-bottom: 1px solid white;
  font-size: 25px;
  margin: 19px 0;
  font-weight: bold;
}
header nav ul li img {
  width: 45px;
  margin-left: 15px;
}
header nav ul li i {
  font-size: 30px;
  margin: 0 1rem;
}
header div:first-of-type {
  width: 51%;
  justify-content: start;
}
header div:first-of-type img {
  width: 100px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  header div:first-of-type li {
    display: none;
  }
}
header div:first-of-type li a {
  color: black;
  margin: 0 1rem;
  font-size: 20px;
}

.film {
  display: flex;
  flex-direction: column;
  height: 37rem;
  justify-content: space-between;
  padding: 64px 0 0 30px;
}
.film h2 {
  font-size: 5em;
  color: #ff0000;
}
@media screen and (max-width: 768px) {
  .film h2 {
    margin-bottom: 50px;
    font-size: 8em;
  }
}
.film p {
  font-size: 1.5em;
  color: white;
}
@media screen and (max-width: 768px) {
  .film p {
    display: none;
  }
}
.film .filmButtons {
  display: flex;
  width: 22rem;
}
.film .filmButtons button {
  width: 17rem;
  padding: 15px;
  font-size: 1.4em;
  border-radius: 10px;
  margin-right: 15px;
}

main {
  padding: 10px 30px;
  background-color: rgb(3, 3, 3);
}
main .box h3, main .box2 h3 {
  color: white;
  font-size: 20px;
}
main .box .col img, main .box2 .col img {
  width: 100%;
  height: 10rem;
  border-radius: 5px;
  cursor: pointer;
}
main .box .rightArrow, main .box2 .rightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .box .rightArrow i, main .box2 .rightArrow i {
  font-size: 40px;
}
main .box .rightArrow i:hover, main .box2 .rightArrow i:hover {
  font-size: 60px;
}
main .box2 {
  margin-top: 2rem;
}

.main-carousel {
  width: 100%;
  margin: 120px auto 0;
  height: 450px;
}
.main-carousel .carousel-cell {
  width: 50%;
  background-size: cover;
  height: 100%;
}
.main-carousel .firstCell {
  background-image: url(/img/film4.jpg);
}
.main-carousel .secondCell {
  background-image: url(/img/film6.jpg);
}
.main-carousel .thirdCell {
  background-image: url(/img/film2.jpg);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=app.css.map */