.main-carousel{
    width: 100%;
    margin: 120px auto 0;
    height: 450px;
    
    .carousel-cell{
        width: 50%;
        background-size: cover;
        height: 100%;
    }
    .firstCell{
        background-image: url(/img/film4.jpg);
        
    }
    .secondCell{
        background-image: url(/img/film6.jpg);
        
    }
    .thirdCell{
        background-image: url(/img/film2.jpg);
        
    }
}
